@CHARSET "ISO-8859-1";
body { 
  background-color: #eee;
}

.form-add-car {
  max-width: 630px;
  padding: 15px;
  margin: 0 auto;
 
}
.form-add-car .col-md-6{
	max-width: 230px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-add-car .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .mylabel{
	margin-top:45px;
	padding-top: 45px !important;
	font-size:70px;
	
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
 
}
.form-add-car .col-sm-3{
	padding-top: 27px;
}
.form-add-car .btn{
	/*margin-left: 180px;*/
}